.img-container {
    position: relative;
}

.overlay {
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 10%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
}

.dropzone {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50%;
    width: 80%;
    z-index: 5;
    // padding: 2rem;
    border: dashed 1px #979797;
}

.upload {
    display: block;
    margin: 5 auto;
    padding: auto;
    object-fit:scale-down;
    height: 70vh;
    max-height: 75vh;
    // width: 90%;
}