 .dropzone {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50%;
    width: 80%;
    z-index: 5;
    // padding: 2rem;
    border: dashed 1px #979797;
}

.upload {
    margin: 5 auto;
    padding: auto;
    object-fit:scale-down;
    height: 70vh;
    // width: 90%;
}