 .dropzone {
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: 80%;
    width: 80%;
    z-index: 5;
    padding: 2rem;
    border: dashed 1px #979797;
    margin: 0 auto;
}