<mat-toolbar style="top: 0; position: sticky; z-index: 1000;" color='accent' [class.mat-elevation-z5]='true'>
  <span>My Application</span>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="200px">
  <form [formGroup]="form" (ngSubmit)='onSubmit()'>
    <mat-grid-tile
      colspan='3'
      rowspan='3'
      style="background: rgb(203, 250, 203)">

      <div *ngIf='!picBuff' class="dropzone"> 
        <input *ngIf='!picBuff' type="file" formControlName='pic' (change)='onFileChange($event)'>
      </div>

      <div *ngIf='picBuff'>
        <img id='subject'  [src]="picBuff" style="max-width: 100%; max-height: 100%;" class="upload">
        <button mat-fab mat-ripple style="z-index: 3; position: absolute; top: 2%; right: 1%;" type="button" (click)='deletePic()'>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      colspan='1'
      rowspan='3'
      style="background: lightblue">
      <div *ngIf='prediction != ""'>
        <h2>  
          This is a {{prediction}}!
        </h2>
        <h3>
          {{certainty | percent}}
        </h3>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile
      colspan='4'
      rowspan='1'
      style="background: lightgreen">
      <button mat-raised-button mat-ripple color='primary' (onClick)='onSubmit()'>
        Submit
      </button>
    </mat-grid-tile>
  </form>
</mat-grid-list>